.personContent{
	display:none;
	background:rgb(240,244,245);
}
.personContentLeft{
	float: left;
	width:230px;
	background: white;
	text-align: center;
	height: 100%;
}
.p_img_and_info div img{
	border-radius: 50%;
	margin: 30px;
	width: 88px;
	height: 88px;
}
.p_introduce{
	color: rgb(102,102,102);
	word-break: break-all;
	word-wrap: break-word;
	padding: 0 30px;
	text-align: center;
}
#e_authentication_shadow{
	position: fixed; 
	top: 0px; 
	left: 0px; 
	z-index: 99999;
	width: 100%; 
	height: 100%; 
	background:rgba(0,0,0,.5);
	display:none;
}
.per_mgs_li{
	color: rgb(255,202,75);
}
.personContentUl{
	color:rgb(102,102,102);
	margin-top:30px;
}
.personContentUl li{
	margin:35px 15px 0 15px;
	text-align: center;
	position: relative;
	font-size: 19px;
	cursor: pointer;
}
.p_expand{
	position: absolute;
    right:0px;
    top: 8px;
}
.p_shrink{
	position: absolute;
    right:0px;
	top: 8px;
	display:none;
}
.personContentUl_ul li {
	margin:20px 0px 0 20px;
	font-size: 19px;
}
.p_msg_num{
    border: 1px solid red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 22px;
    background: red;
	color: white;
	position: absolute;
	right:-5px;
}
.personContentRight{
	float: left;
	position: relative;
	text-align: center;
	height: 100%;
	box-shadow: 2px 2px 19px rgb(245,246,250);
	-o-box-shadow: 2px 2px 19px rgb(245,246,250);
	-webkit-box-shadow: 2px 2px 19px rgb(245,246,250);
	color: rgb(102,102,102);
}
.p_message{
	padding: 0 30px;
}
.p_message h1{
	text-align: left;
	color: rgb(156,156,156);
	font-size: 20px;
    font-weight: normal;
}
.p_message  hr{
	border-color: #ccc;
}

.essentialInformationIpt .p_username input{
    border-radius: 5px;
    background: none;
    border: 1px solid #ccc;
    padding: 9px;
	margin-left: 20px;
	outline: none;
	width: 256px;
}
.uploadPhoto{
	margin: 20px;
}
.photoUpload{
	margin: -5px 0 0 -12px;
    width: 88px;
    height: 88px;
    border-radius: 50%;
}
.fileinput-button {
	position: relative;
    overflow: hidden;
    border: 1px solid #e6e7e9;
    color: #e6e7e9!important;
    font-size: 16px;
    width: 88px;
    height: 88px;
    line-height: 76px;
    border-radius: 50%;
    background: #534d4d0d;
	cursor: pointer;
	margin:40px 0 3px 55px;
}
.fileinput-button span{
	margin-left: 6px;
	color: rgb(102,102,102);
}
.fileinput-button input{
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 15px;
}
.essentialInformationIpt .p_sex input{
	width: 20px;
	height: 20px;
	vertical-align: top;
	margin-right: 10px;
}
.essentialInformationIpt .p_sex input:last-child{
	margin-left: 50px;
}
.sexchoice{
	background: rgb(255,202,75)!important;
    border: 1px solid rgb(255,202,75)!important;
}

.p_errorMsg{
	color: red;
	display: none;
	margin: 0 0 -5px 60px;
}
.p_saveMsg{
	color: red;
	display: none;
	margin: 0 0 -20px 60px;
}
.verificationCode,.e_verificationCode{
	margin: 30px 0;
	text-align: left;
}
.e_pwd_confirm{
	margin: 30px 0 30px 110px;
	text-align: left;
}
.p_email .unconfirm{
	color: rgb(102,102,102);
    margin-left: 15px;
	font-size: 18px;
	display:none;
}
.essentialInformationIpt .p_email{
	position: relative;
	display:none;
}
.essentialInformationSpan .p_email{
	display: none;
}
.p_password{
	display:none;
}
.essentialInformationIpt .p_email .identiBtn{
	height: 45px;
	line-height: 45px;
	color: rgb(102,102,102);
    background: rgb(255,202,75);
    border: 1px solid rgb(255,202,75);
    border-radius: 5px;
    margin-left: 20px;
    outline: none;
    width: 110px;
	text-align: center;
	position: absolute;
	top: 0;
	right: -110px;
	display:none;
}
.e_pwd_confirm input,.e_verificationCode input{
    border-radius: 5px;
    background: none;
    border: 1px solid #ccc;
    padding:9px;
	margin-left: 20px;
	outline: none;
	width: 256px;
}
.essentialInformationSpan{
	float: left;
	text-align: right;
}
.essentialInformationSpan .p_sex,
.essentialInformationSpan .p_age,
.essentialInformationSpan .p_country,
.essentialInformationSpan .p_work,
.essentialInformationSpan .p_email,
.essentialInformationSpan .p_password{
	margin:20px 0;
}
.essentialInformationSpan .p_username span,
.essentialInformationSpan .p_age span, 
.essentialInformationSpan .p_country span, 
.essentialInformationSpan .p_work span,
.essentialInformationSpan  .p_email span, 
.essentialInformationSpan .p_password span{
	height: 45px;
	line-height: 45px;
}
.essentialInformationIpt{
	float: left;
}
.essentialInformationIpt .p_sex,
.essentialInformationIpt .p_age,
.essentialInformationIpt .p_country,
.essentialInformationIpt .p_work,
.essentialInformationIpt .p_email,
.essentialInformationIpt .p_password{
	margin:20px 0;
}
.essentialInformationIpt .p_age input,
.essentialInformationIpt .p_country input,
.essentialInformationIpt .p_work input,
.essentialInformationIpt .p_email input,
.essentialInformationIpt .p_password input{
	border-radius: 5px;
    background: none;
    border: 1px solid #ccc;
    padding:9px;
	margin-left: 20px;
	outline: none;
	width: 256px;
	height: 45px;
    line-height: 45px;
}
.changePwdSpan,.deleteUserSpan{
	float: left;
}
.changePwdSpan .e_oldpwd,
.changePwdSpan .e_newpwd,
.changePwdSpan .e_test,
.deleteUserSpan .d_username,
.deleteUserSpan .d_password{
	margin: 30px 0;
	text-align:right;
}
.changePwdSpan .e_oldpwd span,
.changePwdSpan .e_newpwd span,
.changePwdSpan .e_test span,
.deleteUserSpan .d_username span,
.deleteUserSpan .d_password span{
	height: 45px;
	line-height: 45px;
}
.changePwdIpt,.deleteUserIpt{
	float: left;
}
.changePwdIpt .e_oldpwd,
.changePwdIpt .e_newpwd,
.changePwdIpt .e_test,
.deleteUserIpt .d_username,
.deleteUserIpt .d_password{
	margin: 30px 0;
	/* text-align: left; */
}
.changePwdIpt .e_oldpwd input,
.changePwdIpt .e_newpwd input,
.changePwdIpt .e_test input,
.deleteUserIpt .d_username input,
.deleteUserIpt .d_password input
{
	border-radius: 5px;
    background: none;
    border: 1px solid #ccc;
    padding: 9px;
    margin-left: 20px;
    outline: none;
    width: 256px;
}
.changePwdIpt  .e_oldpwd input,
.changePwdIpt  .e_newpwd input{
	width: 282px;
}

.changePwdIpt .e_test input,
.deleteUserIpt .d_username input,
.deleteUserIpt .d_password input{
	width: 282px;
}
.changePwdIpt .e_test button{
	height: 45px;
    line-height: 45px;
    background: rgb(255,202,75);
    border: 1px solid rgb(255,202,75);
    border-radius: 5px;
    margin-left: 30px;
	outline: none;
	width: 110px;
	text-align: center;
	color: rgb(102,102,102);
}
.e_authentication_span{
	float: left;
	text-align: right;
	height: 45px;
	line-height: 45px;
}
.e_authentication_ipt{
	float: left;
}
.e_authentication_ipt .emailMessage input,
.e_authentication_ipt .verificationCode input{
	border-radius: 5px;
    background: none;
    border: 1px solid #ccc;
    padding:9px;
	margin-left: 20px;
	outline: none;
	width: 256px;
}
.e_authentication_ipt .verificationCode{
	position: relative;
	margin: 30px 0;
	text-align: left;
}
.e_authentication_ipt .verificationCode input,.e_authentication_ipt .emailMessage input{
	width: 270px;
}
.e_authentication_ipt .emailMessage button{
	position: absolute;
	right: -125px;
	top: 0;
	color: rgb(102,102,102)!important;
	height: 45px;
    line-height: 45px;
    background: rgb(255,202,75);
    border: 1px solid rgb(255,202,75);
    border-radius: 5px;
	outline: none;
	width: 110px;
	text-align: center;
}
.personContentRight .save_msg {
	margin: 20px 0  0 35px;
	/* text-align: right; */
}
.personContentRight .save_msg button,
.e_confirm,
.e_back,
.e_pwd_confirm button,
.prevMsg,
.nextMsg,
.delete_confirm button
{
    height: 45px;
    line-height: 45px;
    background: rgb(255,202,75);
    border: 1px solid rgb(255,202,75);
    border-radius: 5px;
    margin-left: 30px;
	outline: none;
	width: 110px;
	text-align: center;
	color: rgb(102,102,102);
}
.e_pwd_confirm button{
	position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    /* left: 50%; */
}
.personContentRight .e_authentication,.personContentRight .p_message_content,.personContentRight .changePwd,.deleteUser{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
.deleteUser{
	width:425px;
}
.left_en button{
	left: 32%;
}
.left_zh-hans button{
	left: 28%;
}
.width_zh-hans{
	width: auto;
}
.width_en{
	width: 65%;
}
.delete_zh-hans{
	margin: 0;
}
.delete_en{
	margin-left: 80px;
}
.e_authentication .e_errorMsg{
	display: none;
	color: red;
	margin-bottom: 25px;
	margin-left: 70px;
}
.delete_error{
	color: red;
    margin-bottom: 20px;
}
.e_back{
	margin-left: 90px;
}
.e_pwd_confirm{
	margin: 40px 0 40px 135px;
	position: relative;
}
.system_msg h1{
	text-align: left;
	color: rgb(156,156,156);
	font-size: 20px;
	font-weight: normal;
}
.system_msg  hr{
	border-color: #ccc;
}
.sMessage{
	padding: 0 30px;
}
.system_msg ul{
	text-align: left;
	padding: 0 30px;
	margin-left: 30px;
}
.system_msg ul li {
	list-style-type: circle;
	color: rgb(102,102,102);
	padding: 20px 10px 10px 10px;
}
.system_msg ul li img{
	float: right;
}
.system_msg ul li a{
	color: rgb(102,102,102);
}
.system_msg ul hr{
	border-color: #ccc;
	margin:0 0 0 -30px;
}
.system_msg .pager{
	margin-top: 50px;
}
.system_msg .pageNum{
	color: rgb(102,102,102);
	font-size: 23px;
	margin: 0 30px 0 60px;
}
.pwd_error{
	color: red;
	margin-left: 60px;
}
.v_error{
	color: red;
}