.routingContent
{
	display: none;
	position: relative;
	z-index: 10000;
}
.routingContent #products {
	/* float: left; */
	position: absolute;
    left: 0px;
    background: #fff;
    overflow: auto;
    height: 100%;
    width: 256px;
    z-index: 1000;
    top: 0px;
    opacity: 1;
}
.routingDebug .routingTopic{
	background: rgb(255,202,75);
	height: 40px;
	line-height: 40px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.routingDebug .routingTopic button:nth-of-type(1){
	float: left;
	background: rgba(0,0,0,.2);
	border: none;
	border-radius: 5px;
	color:white;   
	margin-left: 15px;
	height: 35px;
	line-height: 35px;
	margin-top: 3px;
}
.routingDebug .routingTopic button:nth-of-type(2){
	float:right;
	background:none;
	border: none;
	outline: none;
	height: 40px;
	line-height: 40px;
	margin-right: 15px;
}
.routingDebug .routingTopic button:nth-of-type(2) img:nth-of-type(1){
	margin-top: -4px;
}
.routingDebug .routingTopic button:nth-of-type(2) img:nth-of-type(2){
	display: none;
	margin-top: -6px;
}
.routingGetMessage{
	border:1px solid lightgray;
	min-height:100px;
	max-height: 150px;
	overflow: auto;
}
.routingContent #catalog h2 {
	/* color: rgb(143, 143, 143); */
	/* background: #d3d3d35e; */
    border: none;
    margin: 5px;
	border-radius: 5px;
	outline: none;
	padding: 10px;
}
.routingContent #catalog h2:active{
	/* border: 1px solid rgb(153,153,153); */
}
.routingContent #catalog li h3 {
	color: rgb(153,153,153);
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}
.iconRotate {
	transform: rotate(90deg);
}

.r-firstDrop {
	display: none;
}
.kitContainer ul {
	list-style: none;
	/*padding-left: 0.5em!important;*/
}

.kitContainer ul li {
	margin: 20px 0;
}
.kitContainer ul li:first-child {
	margin-top: 30px;
}

.routingContent #cart {
	/* width: 75%; */
	/* float: left; */
	/* margin-left: 25%; */
	width: 100%;
}
.routingContent .r-garbage{
	position:absolute;
	right:60px;
	bottom:40px;
	z-index:999;
	width: 100px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
}

/* 定义列表样式，以便最大化 droppable */

.routingContent #cart .contain_routing{
	margin: 0;
	background:rgb(240,244,245);
	box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 0.5em;
	position: relative;
}

.routingContent .component {
	border: 1px solid black
}
.playbtn img{
	width: 30px;
	height: 30px;
}

.kitContainer {
	/*padding-left: 0.2em!important;*/
	background: none;
	border: none;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	z-index: 400000;
	padding:0;
    margin: 0;
	color: black;
}
.kitContainer::-webkit-scrollbar{
	display:none;
}
.node {
	font-family: serif;
	font-style: italic;
	background-color: #e6e6e6;
	border: 1px solid #e6e6e6;
	text-align: center;
	z-index: 24;
	cursor: pointer;
	box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	position: absolute;
	/*top:-5px;*/
	/*left:50%;*/
	/*transform: translate(-50%,-50%);*/
	color: black;
	/* padding-top: 5px; */
	width: 130px;
	height: 130px;
	line-height: 12px;
	-webkit-transition: -webkit-box-shadow 0.15s ease-in;
	-moz-transition: -moz-box-shadow 0.15s ease-in;
	-o-transition: -o-box-shadow 0.15s ease-in;
	transition: box-shadow 0.15s ease-in;
}

svg .redLine  path{
	stroke:red;
	stroke-width: 3;
}
.electric_board {
	z-index: 24;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	position: absolute;
	top: 50%;
	left: 50%;
	cursor: pointer;
	border-radius: 5px;
	/* transform: translate(-50%,-50%); */
	color: black;
}

.electric_board img {
	border-radius: 10px;
}

.node img {
	width: 100px;
	height:100px;
	border-radius: 5px!important;
	/* padding: 5px 0 25px 0; */
	/* margin-top: 10px; */
	/* transform: scale(0.5);
	-ms-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-o-transform: scale(0.5);
	-moz-transform: scale(0.5); */
}
#cart .ui-widget-content{
	border: none;
}
.kitContainer ul li img {
	border-radius: 5px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    background: #e6e6e6;
	padding: 5px 20px;
	/* width: 140px; */
	/* height: 100px; */
}

.routingContent .contain_routing .jtk-endpoint,
.routingContent .contain_routing .jtk-connector {
	z-index: 999;
}
.ui-icon
{
	display: none;
}
.ui-accordion .ui-accordion-header{
	cursor: default;
}
.route-btn
{
	background: none;
    outline: none;
    border: none;
    color: white;
    top:0.3rem;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.route-btn button{
	background: none;
    border: none;
    outline: none;
}
.route-btn img{
	width: 1rem;
}
.undis{
	opacity: 0;
	cursor: pointer;
	z-index: 999;
	color: white;
	font-size: 12;
}
.undis:hover{
	opacity: 1;
	cursor: pointer;
}
.dis{
	opacity: 1;
}
.opacityZero{
	/* opacity: 0; */
	display: none;
}

.opacityOne{
	opacity: 1!important;
	display: block!important;
	z-index: 999;
}
.dropActive {
	opacity: 1;
	display:block;
}
.dragHover{
	border: 1px dotted orangle;
}
.dragActive{
	/* border: 1px dotted orangle; */

}
.routingContent .contain_routing .dotEndpoint:active,.routingContent .contain_routing .dotEndpoint:hover{
	/* border: 1px dotted orangered; */
    padding: 4px;
}
.jtk-endpoint-drop-allowed{
	opacity: 1!important;
	display: block!important;
	
}
.jtk-hover{
	opacity: 1;
}
.dropHover
{ 
	/*transform:rotate(30deg);
	-ms-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	border: 1px dotted white;*/
	opacity: 1!important;
	display: block!important;
	z-index: 999;
}

.aLabel
{
	border: 10px solid white;
	color: white;
}
.kitOverlay
{
	color: #777;
	/* transform: translate(0,0)!important; */
	font-size: 13px;
	/* margin-top: 10px; */
	z-index: 999;
}
.deviceOverlay{
	color: white;
	padding: 0 10px;
	text-align: center;
	/* transform: translate(0,0)!important; */
	font-size: 30px;
	z-index: 1999;
	background: rgb(255,202,75);
	border-radius: 20px;
	/* line-height: 50px; */
}
.jtk-endpoint-connected.jtk-endpoint
{
	opacity: 1;
	display: block;
}
#list {
    text-align: center;
    display: none;
    font-size: 90%;
    position: absolute;
    right:50px;
    top:30px;
	max-height: 300px;
	z-index: 999;
    background-color: white;
	width: 35%;
    max-width: 40%;
    min-width: 35%;
    border: 1px solid rgb(230,230,230);
    opacity: 0.8;
    border-radius: 8px;
    color: #444;
    cursor:pointer;
	overflow-y: auto;
	display:none;
}
#list table { 
	width:100%;
	background: rgb(230,230,230);
	/*display:none;*/
}
#list table tr{
	height: 30px;
    line-height: 30px;
    font-size: 18px;
}

#list table tr:first-child{
	background: rgb(255,202,75);
   
}

#list h5{
	text-align:center;
	font-weight:bold;
	color:black;
}
#list h5 span{
	margin-left: 20px;
}
#list table th { 
	color: #775415;
    text-align: center;
	padding: 5px;
}
#list table td { 
	padding: 2px 5px 0 5px;
	vertical-align: center;
	color: #777;
}
.dislabel
{
	margin-top: 40px;
}
.pageBack,.kitRun{
	background: none;
	border: none;
	outline: none;
}
.pageBack img,.kitRun img{
	height: 50px;
	margin-top: -4px;
}
.pageBack{
	float: right;
}
.kitRun{
	float: left;
}
#routing-table{
	border-collapse: collapse;
    border: 1px solid black;
	position: absolute;
	display: none;
    right: 60px;
    top: 50px;
    z-index: 999;
	min-width: 25%;
	max-width:30%;
	/* background: white; */
	width: 25%;
    vertical-align: middle;
    text-align: center;
}
.routingToggle{
	padding: 10px;
    width: 50px;
    height: 50px;
    background: rgb(255,202,75);
    border-top-right-radius: 5px;
    text-align: center;
    font-size: 35px;
    line-height: 30px;
    vertical-align: middle;
    color: #775415;
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1001;
    cursor: pointer;
    display: none;
}
.modelEndpoint{
	width:20px;
	height:50px;
}
.routingBlank{
	width:20px!important;
	height:50px!important;
}
.kitheader{
	color: rgb(255,202,75);
    font-weight: bolder;
    margin-top: 10px;
}

.simulatorSlider {
	position: absolute;
    right: -26%;
    top: 7px;
}

.simulatorSlider .ui-slider-vertical .ui-slider-handle {
	left: -.36em !important;
}

#amount {
	position: absolute;
    top: -11px;
    right: -44px;
}